.entities-template {
  // background-color: darkkhaki; // cambiar este background
  background-image: url("/assets/bg-main.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  flex: 1;
  display: flex;
}
