.template-register-entities {
  // background-image: linear-gradient(
  //     rgba(91, 161, 166, 0.75),
  //     rgba(91, 161, 166, 0.75)
  //   ),
  //   url("../../public/assets/bg-login.webp");
  background-image: url("/assets/bg-auth.webp");

  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
